*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#body *::selection{
    background-color: var(--color-primary);
}
body{
    background: var(--color-background);
    transition: background 0.3s ease-in-out;
}
@font-face {
    font-family: 'Love Child';
    src: url('../assets/ChiptuneValentineRegular-p7aRr.ttf') format('opentype');
}
@font-face {
    font-family: 'CustomFont2';
    src: url('../assets/MoodyadolescentRegular-jE00v.otf') format('opentype');
}
@font-face {
    font-family: 'CustomFont3';
    src: url('../assets/GirlOnAnAlleyChmc-W7rV.ttf') format('opentype');
}
@font-face {
    font-family: 'CustomFont4';
    src: url('../assets/DarlingtonDemo-z8xjG.ttf');
}
:root {
    /* Primary Colors */
    --color-primary: hsl(340, 80%, 70%);      /* Accent color */
    --color-primary-dark: hsl(340, 80%, 60%); /* Darker shade of primary */
  
    /* Secondary Colors */
    --color-secondary: hsl(40, 100%, 80%);     /* Secondary color */
  
    /* Background Colors */
    --color-background: hsl(0, 0%, 95%);       /* Background color */
    --color-background-dark: hsl(0, 0%, 90%);  /* Darker shade of background */
  
    /* Text Colors */
    --color-text-primary: hsl(0, 0%, 20%);     /* Primary text color */
    --color-text-primary-dark:  hsl(0, 0%, 16%);  /* Darker shade of primary text */
    --color-text-secondary: hsl(0, 0%, 40%);   /* Secondary text color */
    
}
.dark{
    --color-primary: hsl(340, 80%, 60%);      /* Accent color */
    --color-primary-dark: hsl(340, 80%, 50%); /* Darker shade of primary */
  
    /* Secondary Colors */
    --color-secondary: hsl(40, 100%, 80%);     /* Secondary color */
  
    /* Background Colors */
    --color-background: hsl(0, 0%, 20%);       /* Background color */
    --color-background-dark: hsl(0, 0%, 10%);  /* Darker shade of background */
  
    /* Text Colors */
    --color-text-primary: hsl(0, 0%, 80%);     /* Primary text color */
    --color-text-primary-dark:  hsl(0, 0%, 86%);  /* Darker shade of primary text */
    --color-text-secondary: hsl(0, 0%, 60%);   /* Secondary text color */
}
  h1,h2{
    font-family: 'CustomFont3';
  }
#body{
    width: 100vw;
    height: 100vh;
    background: var(--color-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    transition: background 0.3s ease-in-out;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*bottom box shadow*/
    border-bottom: 2px solid var(--color-text-primary);

}
header>h1{
    font-size: 2.4rem;
    margin-top: 1rem;
    font-family: 'Love Child';
    /*negative margin to create depth*/
    margin-bottom: -1.2rem;
    border-radius: 5px;
    padding: 0.8rem;
    color: var(--color-primary-dark);
    border: 2px dashed var(--color-text-primary);
    background-color: var(--color-background-dark);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
}
.selection{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    margin-top: 11rem;

}
.selection *{
    color: var(--color-text-primary);
}
.selection > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: var(--color-text-primary);

}
footer{
    /*Place at bottom of page*/
    margin-top: auto;
    width: 100%;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    font-family: 'CustomFont4';
    font-size: 2rem;
    color: var(--color-text-primary);
    background: var(--color-background);
}
.difficulty-buttons, .sfw-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.3rem;
}
button{
    font-family: 'CustomFont2';
    width: max-content;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    color: var(--color-text-primary-dark);
    border: 2px solid var(--color-text-primary);
    background-color: var(--color-background-dark);
    transition: transform 0.3s ease-in-out;
}
button:hover{
    background-color: var(--color-background);
    cursor: pointer;
    color: var(--color-primary-dark);
    transform: scale(1.09);

}

.Start{
    margin-top: 3rem;
}
.display{
    width: 100%;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
     
}
.card > img{
    width: 100%; 
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    aspect-ratio: 1/2;
    transition: transform 0.3s ease-in-out;

}
.card{
   height: min-content;
    border-radius: 6px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    background-color: var(--color-background-dark);
}
.card:hover{
    background-color: var(--color-background);
    cursor: pointer;
    &>img{
        box-shadow: 0 0 11px 0 var(--color-primary-dark);
        transform: scale(1.019);
    }
}
.high-score{
    margin-top: 0.3rem;
    color: var(--color-text-primary-dark);
}
.score{
    color:var(--color-text-primary-dark);
}
.clicked{
   color: var(--color-primary-dark);
   transform: scale(1.09);
}
  .container {
          --uib-size: 60px;
          --uib-color: black;
          --uib-speed: 1.5s;
          --uib-dot-size: calc(var(--uib-size) * 0.1);
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          height: calc(var(--uib-size) * 0.64);
          width: calc(var(--uib-size) * 0.64);
          left: 50vw;
          top: 50vh;
        }
      
        @keyframes jump {
          0%,
          100% {
            transform: translateY(120%);
          }
      
          50% {
            transform: translateY(-120%);
          }
        }
      
        .dot {
          --uib-d1: -0.48;
          --uib-d2: -0.4;
          --uib-d3: -0.32;
          --uib-d4: -0.24;
          --uib-d5: -0.16;
          --uib-d6: -0.08;
          --uib-d7: -0;
          position: absolute;
          bottom: calc(var(--uib-bottom) + var(--uib-dot-size) / 2);
          right: calc(var(--uib-right) + var(--uib-dot-size) / 2);
          display: flex;
          align-items: center;
          justify-content: flex-start;
          height: var(--uib-dot-size);
          width: var(--uib-dot-size);
          animation: jump var(--uib-speed) ease-in-out infinite;
          opacity: var(--uib-scale);
          will-change: transform;
          backface-visibility: hidden;
        }
      
        .dot::before {
          content: '';
          height: 100%;
          width: 100%;
          background-color: var(--color-primary-dark);
          border-radius: 50%;
          transform: scale(var(--uib-scale));
          transition: background-color 0.3s ease;
        }
      
        .dot:nth-child(1) {
          --uib-bottom: 24%;
          --uib-right: -35%;
          animation-delay: calc(var(--uib-speed) * var(--uib-d1));
        }
        .dot:nth-child(2) {
          --uib-bottom: 16%;
          --uib-right: -6%;
          animation-delay: calc(var(--uib-speed) * var(--uib-d2));
        }
        .dot:nth-child(3) {
          --uib-bottom: 8%;
          --uib-right: 23%;
          animation-delay: calc(var(--uib-speed) * var(--uib-d3));
        }
        .dot:nth-child(4) {
          --uib-bottom: -1%;
          --uib-right: 51%;
          animation-delay: calc(var(--uib-speed) * var(--uib-d4));
        }
        .dot:nth-child(5) {
          --uib-bottom: 38%;
          --uib-right: -17.5%;
          animation-delay: calc(var(--uib-speed) * var(--uib-d2));
        }
        .dot:nth-child(6) {
          --uib-bottom: 30%;
          --uib-right: 10%;
          animation-delay: calc(var(--uib-speed) * var(--uib-d3));
        }
        .dot:nth-child(7) {
          --uib-bottom: 22%;
          --uib-right: 39%;
          animation-delay: calc(var(--uib-speed) * var(--uib-d4));
        }
        .dot:nth-child(8) {
          --uib-bottom: 14%;
          --uib-right: 67%;
          animation-delay: calc(var(--uib-speed) * var(--uib-d5));
        }
        .dot:nth-child(9) {
          --uib-bottom: 53%;
          --uib-right: -0.8%;
          animation-delay: calc(var(--uib-speed) * var(--uib-d3));
        }
        .dot:nth-child(10) {
          --uib-bottom: 44.5%;
          --uib-right: 27%;
          animation-delay: calc(var(--uib-speed) * var(--uib-d4));
        }
        .dot:nth-child(11) {
          --uib-bottom: 36%;
          --uib-right: 55.7%;
          animation-delay: calc(var(--uib-speed) * var(--uib-d5));
        }
        .dot:nth-child(12) {
          --uib-bottom: 28.7%;
          --uib-right: 84.3%;
          animation-delay: calc(var(--uib-speed) * var(--uib-d6));
        }
        .dot:nth-child(13) {
          --uib-bottom: 66.8%;
          --uib-right: 15%;
          animation-delay: calc(var(--uib-speed) * var(--uib-d4));
        }
        .dot:nth-child(14) {
          --uib-bottom: 58.8%;
          --uib-right: 43%;
          animation-delay: calc(var(--uib-speed) * var(--uib-d5));
        }
        .dot:nth-child(15) {
          --uib-bottom: 50%;
          --uib-right: 72%;
          animation-delay: calc(var(--uib-speed) * var(--uib-d6));
        }
        .dot:nth-child(16) {
          --uib-bottom: 42%;
          --uib-right: 100%;
          animation-delay: calc(var(--uib-speed) * var(--uib-d7));
        }
      
        .dot:nth-child(3) {
          --uib-scale: 0.98;
        }
        .dot:nth-child(2),
        .dot:nth-child(8) {
          --uib-scale: 0.96;
        }
        .dot:nth-child(1),
        .dot:nth-child(7) {
          --uib-scale: 0.94;
        }
        .dot:nth-child(6),
        .dot:nth-child(12) {
          --uib-scale: 0.92;
        }
        .dot:nth-child(5),
        .dot:nth-child(11) {
          --uib-scale: 0.9;
        }
        .dot:nth-child(10),
        .dot:nth-child(16) {
          --uib-scale: 0.88;
        }
        .dot:nth-child(9),
        .dot:nth-child(15) {
          --uib-scale: 0.86;
        }
        .dot:nth-child(14) {
          --uib-scale: 0.84;
        }
        .dot:nth-child(13) {
          --uib-scale: 0.82;
        }
