*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#body *::selection{
    background-color: var(--color-primary);
}
body{
    background: var(--color-background);
    transition: background 0.3s ease-in-out;
}
@font-face {
    font-family: 'Love Child';
    src: url('../assets/ChiptuneValentineRegular-p7aRr.ttf') format('opentype');
}
@font-face {
    font-family: 'CustomFont2';
    src: url('../assets/MoodyadolescentRegular-jE00v.otf') format('opentype');
}
@font-face {
    font-family: 'CustomFont3';
    src: url('../assets/GirlOnAnAlleyChmc-W7rV.ttf') format('opentype');
}
@font-face {
    font-family: 'CustomFont4';
    src: url('../assets/DarlingtonDemo-z8xjG.ttf');
}
:root {
    /* Primary Colors */
    --color-primary: hsl(340, 80%, 70%);      /* Accent color */
    --color-primary-dark: hsl(340, 80%, 60%); /* Darker shade of primary */
  
    /* Secondary Colors */
    --color-secondary: hsl(40, 100%, 80%);     /* Secondary color */
  
    /* Background Colors */
    --color-background: hsl(0, 0%, 95%);       /* Background color */
    --color-background-dark: hsl(0, 0%, 90%);  /* Darker shade of background */
  
    /* Text Colors */
    --color-text-primary: hsl(0, 0%, 20%);     /* Primary text color */
    --color-text-primary-dark:  hsl(0, 0%, 16%);  /* Darker shade of primary text */
    --color-text-secondary: hsl(0, 0%, 40%);   /* Secondary text color */
    
}
.dark{
    --color-primary: hsl(340, 80%, 60%);      /* Accent color */
    --color-primary-dark: hsl(340, 80%, 50%); /* Darker shade of primary */
  
    /* Secondary Colors */
    --color-secondary: hsl(40, 100%, 80%);     /* Secondary color */
  
    /* Background Colors */
    --color-background: hsl(0, 0%, 20%);       /* Background color */
    --color-background-dark: hsl(0, 0%, 10%);  /* Darker shade of background */
  
    /* Text Colors */
    --color-text-primary: hsl(0, 0%, 80%);     /* Primary text color */
    --color-text-primary-dark:  hsl(0, 0%, 86%);  /* Darker shade of primary text */
    --color-text-secondary: hsl(0, 0%, 60%);   /* Secondary text color */
}
  h1,h2{
    font-family: 'CustomFont3';
  }
#body{
    width: 100vw;
    height: 100vh;
    background: var(--color-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    transition: background 0.3s ease-in-out;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*bottom box shadow*/
    border-bottom: 2px solid var(--color-text-primary);

}
header>h1{
    font-size: 2.4rem;
    margin-top: 1rem;
    font-family: 'Love Child';
    /*negative margin to create depth*/
    margin-bottom: -1.2rem;
    border-radius: 5px;
    padding: 0.8rem;
    color: var(--color-primary-dark);
    border: 2px dashed var(--color-text-primary);
    background-color: var(--color-background-dark);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
}
.selection{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    margin-top: 11rem;

}
.selection *{
    color: var(--color-text-primary);
}
.selection > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: var(--color-text-primary);

}
footer{
    /*Place at bottom of page*/
    margin-top: auto;
    width: 100%;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    font-family: 'CustomFont4';
    font-size: 2rem;
    color: var(--color-text-primary);
    background: var(--color-background);
}
.difficulty-buttons, .sfw-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.3rem;
}
button{
    font-family: 'CustomFont2';
    width: max-content;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    color: var(--color-text-primary-dark);
    border: 2px solid var(--color-text-primary);
    background-color: var(--color-background-dark);
    transition: transform 0.3s ease-in-out;
}
button:hover{
    background-color: var(--color-background);
    cursor: pointer;
    color: var(--color-primary-dark);
    transform: scale(1.09);

}

.Start{
    margin-top: 3rem;
}
.display{
    width: 100%;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
     
}
.card > img{
    width: 100%; 
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    aspect-ratio: 1/2;
    transition: transform 0.3s ease-in-out;

}
.card{
   height: min-content;
    border-radius: 6px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    background-color: var(--color-background-dark);
}
.card:hover{
    background-color: var(--color-background);
    cursor: pointer;
    &>img{
        box-shadow: 0 0 11px 0 var(--color-primary-dark);
        transform: scale(1.019);
    }
}
.high-score{
    margin-top: 0.3rem;
    color: var(--color-text-primary-dark);
}
.score{
    color:var(--color-text-primary-dark);
}
.clicked{
   color: var(--color-primary-dark);
   transform: scale(1.09);
}